body{
	text-align: center;
	margin: 0px;
	padding-top: 30px;

	font-size: 100%;
	font-family: courier;

	background-color: #F63;
}

#content{
	min-height: 500px;
	height: auto;
	width: 800px;

	text-align: left;

	margin: 0 auto;
	padding: 20px;

	background-color: #fff;

	overflow: hidden;

	box-shadow: 0px 0px 50px 20px #C30;
}

#pre-title{
	text-transform: uppercase;
	margin: 0 auto;
}

#title{
	text-align: center;
	text-transform: uppercase;
	font-size: 800%;
	margin: auto;
}

#post-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 250%;
	margin: 0 auto;
}

#header{
	padding: 10px;
}

#explanation{
	margin-top: 50px;
}

.greybg{
	background-color: #EEE;
}

.greygradbg{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #DDD 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #DDD 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #DDD 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #DDD));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #DDD 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #FFFFFF 0%, #DDD 100%);
}